<%- include('../../layouts/default/header.ejs', { 
	layoutTitle: locals.__(locals.locale + '/pages/auth/passwordResetRequestForm.layoutTitle'), 
	layoutDescription: locals.__(locals.locale + '/pages/auth/passwordResetRequestForm.layoutDescription'), 
}); -%>

<h1><%= locals.__(locals.locale + '/pages/auth/passwordResetRequestForm.title') %></h1>


<%- include('../../includes/alerts/default.ejs'); -%>

<form
	action="<%= locals.route('post_password_reset_request_.handlePasswordResetRequestForm'); %>"
	method="POST"
	id="password-reset-form"
>
	<input type="email" required name="email" minlength="7" maxlength="100" placeholder="<%= locals.__(locals.locale + '/pages/auth/passwordResetRequestForm.placeholders.email') %>" />
	<button><%= locals.__(locals.locale + '/pages/auth/passwordResetRequestForm.resendBtn') %></button>
</form>

<% let layoutScripts = `
<script>
	const passwordResetRequestForm = document.getElementById("password-reset-form");
	passwordResetRequestForm.addEventListener("submit", (e) => {
		e.preventDefault();

		fetch("`+ locals.route('post_password_reset_request_.handlePasswordResetRequestForm') +`", {
			method: "POST",
			headers: {
				"Content-Type": "application/json;charset=UTF-8",
				"Request-Language": "` + locals.locale + `",
				"CSRF-Token": "` + csrfToken + `",
			},
			body: JSON.stringify(
				Object.fromEntries(new FormData(passwordResetRequestForm))
			),
		})
			.then((response) => Promise.all([response, response.json()]))
			.then(([response, json]) => {
				if (response.status === 400) {
					toggleAlertsMsg(true, "error", json);
				} else if (!response.ok) {
					throw json;
				} else {
					// toggleAlertsMsg(
					// 	true,
					// 	"success",
					// 	"` + locals.__(locals.locale + '/pages/auth/register.registrationSuccess') + `"
					// );
					// return window.location.href = json.res.redirectUrlOnSuccess;
					toggleAlertsMsg(
						true,
						"success",
						json.res.successMsg
					);
					
					passwordResetRequestForm.remove();
				};
			})
			.catch(error => {
				defaultCatchErrorHandler(error);
			});
	});
</script>
`; %> <%- include('../../layouts/default/footer.ejs', {layoutScripts:
layoutScripts}); -%>
