<%- include('../../layouts/default/header.ejs', { layoutTitle:
locals.__(locals.locale + '/pages/auth/passwordResetForm.layoutTitle'),
layoutDescription: locals.__(locals.locale +
'/pages/auth/passwordResetForm.layoutDescription'), }); -%>

<h1><%= locals.__(locals.locale + '/pages/auth/passwordResetForm.title') %></h1>

<%- include('../../includes/alerts/default.ejs'); -%> 


<% if (!email) { %>
<a
	href="<%= locals.route(locals.locale + '_get_password_reset_.passwordResetRequestForm'); %>"
	><%= locals.__(locals.locale + '/pages/auth/login.resetPasswordAnchorText')
	%></a
>
<% } else { %>
<form
	action="<%= locals.route('post_password_reset_.handlePasswordResetForm'); %>"
	method="POST"
	id="password-reset-form"
>
	<input
		type="email"
		class="hidden"
		name="email"
		minlength="7"
		maxlength="100"
		value="<%= email; %>"
	/>
	<input
		type="text"
		class="hidden"
		name="hash"
		minlength="<%= hashLength; %>"
		maxlength="<%= hashLength; %>"
		value="<%= hash; %>"
	/>
	<input
		type="password"
		required
		name="password"
		minlength="5"
		maxlength="100"
		placeholder="<%= locals.__(locals.locale + '/pages/auth/passwordResetForm.placeholders.newPassword') %>"
	/>
	<input
		type="password"
		required
		name="password_confirm"
		data-rule-equalTo="#password"
		minlength="5"
		maxlength="100"
		placeholder="<%= locals.__(locals.locale + '/pages/auth/passwordResetForm.placeholders.confirmPassword') %>"
	/>
	<button>
		<%= locals.__(locals.locale + '/pages/auth/passwordResetForm.resetBtn')
		%>
	</button>
</form>
<% }%> 

<% 
	let layoutScripts = ``;
	
	if(!email) {
		layoutScripts = `
			<script>
				toggleAlertsMsg(true, "error", {
					errors: [
						{
							location: "body",
							msg: "`+ locals.__(locals.locale + '/pages/auth/passwordResetForm.validation.invalidHash') +`",
							param: "hash",
						},
					],
					msg: "Validation fails!",
					success: false,
				});
			</script>
		`;
	} else {
		layoutScripts = `
			<script>
				const passwordResetForm = document.getElementById("password-reset-form");
				passwordResetForm.addEventListener("submit", (e) => {
					e.preventDefault();

					fetch(
						"`+ locals.route('post_password_reset_.handlePasswordResetForm') +`",
						{
							method: "POST",
							headers: {
								"Content-Type": "application/json;charset=UTF-8",
								"Request-Language": "` + locals.locale + `",
								"CSRF-Token": "` + csrfToken + `",
							},
							body: JSON.stringify(
								Object.fromEntries(new FormData(passwordResetForm))
							),
						}
					)
						.then((response) => Promise.all([response, response.json()]))
						.then(([response, json]) => {
							if (response.status === 400) {
								console.log(json);
								toggleAlertsMsg(true, "error", json);
							} else if (!response.ok) {
								throw json;
							} else {
								// toggleAlertsMsg(
								// 	true,
								// 	"success",
								// 	"` + locals.__(locals.locale + '/pages/auth/register.registrationSuccess') + `"
								// );
								// return window.location.href = json.res.redirectUrlOnSuccess;
								toggleAlertsMsg(true, "success", json.res.successMsg);

								passwordResetForm.remove();
							}
						})
						.catch((error) => {
							defaultCatchErrorHandler(error);
						});
				});
			</script>
		`;
	};


%> 

<%- include('../../layouts/default/footer.ejs', {layoutScripts: layoutScripts}); -%>
